<!DOCTYPE html>
<html>
    <head>
        {{>headerlinks}}
    </head>

    <body>
        {{>navbar}}


        <!-- Main header -->
        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <div class="col-md-6 col-12 main_header_right align-items-center">
                            <figure>
                                <img src="about.jpeg" alt="ishu" class="img-fluid" title="vanshikaGupta">
                            </figure>
                            </div>
                    <!-- left side div -->
                        <div class="col-md-6 col-12 main_header_left">
                            <p> Welcome To The Weather App </p>
                            <h1><b>I am a <span class="text_clr">Full Stack Developer</span> and a Student.</b></h1>
                            <a href="https://vanshika8975.github.io/newebsite/" target="_blank"><button>About Me</button></a>
                        </div>
                    
                    <!-- Right side div -->
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Code -->
        {{>footer}}
    </body>
</html>